<!DOCTYPE html>
<html>
    <head>
        <title>Infinite Go</title>
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body>
        <h1>Infinite Go</h1>
        <h3 style="font-style: italic;">
        {% if username is none %}
            <a href="{{ url_for('register') }}">Register</a> | <a href="{{ url_for('login') }}">Log In</a>
        {% else %}
            Logged in as {{ username }} | <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
        </h3>
        <hr>
        <div id="goban"></div>

        <script src="{{ url_for('static', filename='scripts/color_code.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/render_goban.js') }}"></script>
        <script>
            renderGoban({{cursor}});
            renderStones({{stones|tojson}});
        </script>
    </body>
</html>