<!DOCTYPE html>
<html>
    <head>
        <title>Infinite Go</title>
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

        <script src="{{ url_for('static', filename='scripts/refSort.js') }}"></script>
    </head>
    <body>
        <h1>Infinite Go</h1>
        <h3 style="font-style: italic;">
        {% if username is none %}
            <a href="{{ url_for('register') }}">Register</a> | <a href="{{ url_for('login') }}">Log In</a>
        {% else %}
            Logged in as {{ username }}. You have {{ score }} stone{{ "s" if score != "1" }}. | <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}

        </h3>
        <div id="goban-container">
            <div id="goban"></div>
        </div>
        
        <div id="cursor-info">
            X: {{ cursor[0] }}, Y: {{ cursor[1] }}
        </div>
        
        {% if "%s %s" % (cursor[0], cursor[1]) in stones and stones["%s %s" % (cursor[0], cursor[1])]["status"] == "Pending" %}
        <div id="pending-countdown">This stone is pending.</div>
        <script src="{{ url_for('static', filename='scripts/pending_countdown.js') }}"></script>
        <script>initiatePendingCountdown({{ stones["%s %s" % (cursor[0], cursor[1])]["last_status_change_time"] }});</script>
        {% endif %}

        {% if username is not none %}
            <br>
        
            <button id="placeStone" onClick="location = '{{ url_for('go', x=cursor[0], y=cursor[1]) }}';">Place stone</button>
            <button id="cyclePending" onClick="location = '{{ url_for('cycle_pending', current_x=cursor[0], current_y=cursor[1]) }}';">Cycle pending stones</button>
        {% endif %}
        <div id="color-legend"></div>

        <h4>
            <a href="https://github.com/hinsley/infinite-go">GitHub</a> | <a href="https://discord.gg/dzhBtPZbEz">Discord</a>
        </h4>

        <script src="{{ url_for('static', filename='scripts/color_code.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/render_goban.js') }}"></script>
        <script>
            renderGoban({{ cursor }});
            renderStones({{ stones | tojson }}, {{ cursor }}, {% if username is not none %} "{{ username }}" {% else %} null {% endif %});
        </script>
    </body>
</html>