<!DOCTYPE html>
<html>
    <head>
        <title>Infinite Go &gt; Log In</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body>
        <h1>Infinite Go &gt; Log In</h1>
        <form method="POST" action="{{ url_for('process_login') }}">
            <label for="username">Username</label>
            <input type="text" name="username">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password">
            <br>
            <input type="submit">
        </form>
        <a href="{{ url_for('password_reset_request') }}">Forgot your password?</a>
    </body>
</html>