* {
    font-family: serif;
}

body {
    text-align: center;
}

div#goban-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#goban {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    outline: solid 1px black;
}

div#goban:hover {
    cursor: pointer;
}

div#goban div div.cursor-overlay {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.25);
}

div#goban div.location {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-image: url('../images/goban_space.svg');
    background-size: 100%;
}

div#goban div.hoshi {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-image: url('../images/goban_hoshi.svg');
    background-size: 100%;
}

div#goban div div.stone {
    position: absolute;
    margin: 1px;
    padding: 0;
    width: 46px;
    height: 46px;
    border: solid 1px black;
    border-radius: 100%;
}

div#goban div div.stone div.lockedEmblem {
    margin: 15px;
    padding: 0;
    width: 12px;
    height: 12px;
    border: solid 2px white;
    border-radius: 100%;
    background-color: black;
}

div#goban div div.stone div.selfLockedEmblem {
    margin: 15px;
    padding: 0;
    width: 12px;
    height: 12px;
    border: solid 2px white;
    border-radius: 100%;
    background-color: crimson;
}

div#cursor-info {
    margin-top: 8px;
}

div#color-legend {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

div#color-legend div.legend-entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 650px;
}

div#color-legend div.color-icon {
    margin: 4px;
    width: 16px;
    height: 16px;
    border: solid 1px black;
    border-radius: 100%;
}
